.App {
  text-align: center;
  background: linear-gradient(to left, rgb(86, 113, 235), #131414);
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding: 20px;
  /* border: 10px solid white; */
 
}

.container{
  /* border: 4px solid white;
  flex-direction: column; */
  /* display: flex; */
  /* justify-content: center; */
  /* height: fit-content; */
  /* padding:20px; */
  /* justify-content:center;
  flex-direction:column;
  align-items:center; */
}
.box{
  border: 1px solid;
  width:  500px;
  height:  300px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.modal{
  border: 1px solid;
  display: flex;
  justify-content: center;
  flex-direction:column;
  width:100%;
  

}
.modal a{
  display: flex;
  justify-content: center;
 padding:10px;
 text-decoration: none;
 color: black;
}
.name{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;

}
.work{
  width:100% ;
 
}
.wel{
  width: 100%;
  color: white;
  margin : 10px;
  padding: 10px;
  text-transform: capitalize;
}.parraph{
  border: 4px solid white;
  color:white;
  display: flex;
  padding: 10px;
}
.link{
  margin: 10px;
  color:white;
  font-size: 30px;
}.line{
  color:white;
}
@media (min-width: 768px){
  .container{
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    flex-direction:column-reverse;
    color: #fff;
   /* width: 45%; */
  }
  .Nav{
     display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
  }
  .Nav a{
    border: 3px solid;
    display: flex;
    justify-content:center;
    margin: 10px;
    flex-direction:row;
    align-items:center;
  }
  .modal{
     display: flex;
    flex-direction:row;
    justify-content:space-around;
    width: 400px;}

  .modal a{text-decoration: none;}
  .name{
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
   
  }
  .work{
    width:300px;
   
  }.wel{
   width: 300px;
   color:white;
   border: 4px solid white;
  }.socials-liks{
   
  width: 200px;
  }
  p{
    padding: 25px;
  }
 
}