.App {
  text-align: center;
}

.container{
  border: 1px solid;
  display: flex;
  justify-content:space-around;
  flex-direction:column;
}
.box{
  border: 1px solid;
  width:  500px;
  height:  300px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.Nav{
  
  margin: 10px;
}
@media (min-width: 768px){
  .container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
  }
  .box{
    margin:30px;
    padding: 20px;
  }
  .Nav{
    
    justify-content:center;
    flex-direction:column;
    align-items:center;
  }
  .Nav a{
    
    display: flex;
    justify-content:center;
    margin: 10px;
    flex-direction:row;
    align-items:center;
  }
}